
/* ---------PRESETS------- */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&family=Playfair+Display+SC&display=swap');

:root{
    --black: #000000;
    --white: #fff;
    --color-primary: #ffd29b;
    --color-secondary: #4d4d4d;
}

/* ---------RESETS------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: url(assets/bgHeader.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.register a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register a img{ 
    width: 75%;
    margin-bottom: 20px;
}
.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register form input{
    background-color: #0000008c;
    border-radius: 10px;
    border: 0;
    padding: 10px 10px 10px 30px;
    margin-top: 10px;
    color: var(--white);
    padding-right: 20px;
    cursor: pointer;
}
input::placeholder {
    color: #b8b8b8;
    font-size: 1em;
    font-family: 'Jost', sans-serif;
}

.ico-avatar{
    margin: 5%;
    height: 40px;
    background-image: url(assets/avatar2.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.ico-lock{
    margin: 5%;
    height: 40px;
    background-image: url(assets/lock.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.register form input::-webkit-input-placeholder{
    padding: 10px;
}
.btn{
    font-family: 'Jost', sans-serif;
    background-color: var(--black);
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    color:#b8b8b8;
    cursor: pointer;
} 
.btn a{
    padding: 10px 80px;
    border-radius: 10px;
}  

.btn a:hover{
    color: var(--black);
    background-color: #b8b8b8;
}     
.register a{
    font-family: 'Jost', sans-serif;
    color: #b8b8b8;
    text-decoration: none;
}

@media all and (max-width: 900px){


    .register a{
        width: 200px;
    }
    .register input{
        padding: 30px 40px;
    }
}
@media all and (max-width: 400px){
    .register{
        width: 100px;
    }
}